<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RELACION DE OFICIALES PNP DE LA DIRECCIÓN DE INSPECCIONES DE LA IG PNP</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <!--   <table class="table table-bordered" style="width:100%">	-->
					                    <table class="table table-bordered">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" >CIP</th>
										      <th class="text-center" scope="col" >DNI</th>
										      <th class="text-left" scope="col" >GRADO</th>									      
										      <th class="text-left" scope="col" >NOMBRES</th>
										      <th class="text-left" scope="col" >APELLIDO PATERNO</th>
										      <th class="text-left" scope="col" >APELLIDO MATERNO</th>
										      <th class="text-left" scope="col" >CORREO ELECTRÓNICO</th>
										      <th class="text-left" scope="col" >CELULAR</th>
										      <th class="text-left" scope="col" >UNIDAD/DIVISIÓN</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  		
										  		<!--   <tr	th:each="usuarioDao: ${usuarios}">	
													   	<td th:text="${usuarioDao.id}"></td>
													   	<td th:text="${usuarioDao.CIP}"></td>
													   	<td th:text="${usuarioDao.DNI}"></td>
													   	<td th:text="${usuarioDao.grado}"></td>
													   	<td th:text="${usuarioDao.nombres}"></td>
													   	<td th:text="${usuarioDao.apellidoPaterno}"></td>
													   	<td th:text="${usuarioDao.apellidoMaterno}"></td>
													   	<td th:text="${usuarioDao.correoElectronico}"></td>
													   	<td th:text="${usuarioDao.celular}"></td>
													   	<td th:text="${usuarioDao.unidad_division}"></td>
	   											</tr> --> 
										  									  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td> 391321 </td>																										
										      <td> 42212431	</td>
										      <td> Capitan SPNP	</td>
										      <td> Guillermo Enrique </td>
										      <td> Medina </td>
										      <td> Zegarra </td>
										      <td> guillermoemz@gmail.com </td>
										      <td> 999363679 </td>
										      <td> UNITIC IG PNP </td>
										    </tr>
										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>

