<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >DECRETOS SUPREMOS</h3>
				                    <br>			                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">DECRETO SUPREMO</th>
										      <th class="text-center" scope="col" width="70%">DESCRIPCIÓN</th>									      
										      <th class="text-left" scope="col" width="5%">PDF</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    
										    <tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">D.S. Nº 011-2011-PCM</span> </td>																										
											      <td>																																		
											      	  	<h6 class="font-weight-bold text-center"> DECRETO SUPREMO QUE APRUEBA EL REGLAMENTO DEL LIBRO DE RECLAMACIONES DEL CÓDIGO DE 
											      	  												PROTECCIÓN Y DEFENSA DEL CONSUMIDOR 
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento </span>
												     	 												     	 	
												     	 	<p>																																
												     	 	Apruébese el Reglamento del Libro de Reclamaciones a que hace referencia el artículo 150º de la Ley Nº 29571, Código de Protección y 
												     	 	Defensa del Consumidor, el cual consta de quince (15) artículos y dos (2) anexos, y forma parte integrante del presente Decreto Supremo.
												     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/DS/DS_011_2011_PCM.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
										    <tr>
										  		  <th scope="row">2</th>
											      <td > <span class="font-weight-bold">D.S. Nº 012-2016-IN</span> de fecha 27JUL2016</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Aprueban Reglamento del Decreto Legislativo N° 1186, Decreto Legislativo que regula el uso de la 
											      	  											  fuerza por parte del personal de la Policía Nacional del Perú
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento </span>
												     	 												     	 	
												     	 	<p>																																
												     	 	Apruébese el Reglamento del Decreto Legislativo N° 1186, Decreto Legislativo que regula el uso de la fuerza
															por parte de la Policía Nacional del Perú, que consta de quince artículos y siete disposiciones complementarias finales el que como Anexo forma parte integrante del
															presente Decreto Supremo.
												     		</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_012_2016_IN.pdf" > Abrir </a>  
											      </td>
										    </tr>										    
										    
										    <tr>
										  		  <th scope="row">3</th>
											      <td > <span class="font-weight-bold">D.S. Nº 028-2017-EF</span> de fecha 23FEB2017</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Decreto Supremo que aprueba el monto por concepto de alimentación en aplicación de la Décima 
											      	  											Disposición Complementaria Final del Decreto Legislativo N° 1132 y la Tercera Disposición Complementaria 
											      	  											Final del Decreto Supremo N° 013-2013-EF
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Objeto </span>
												     	 												     	 	
												     	 	<p>																																								
												     	 	Establézcase en OCHO Y 00/100 SOLES (S/ 8,00) diarios el monto por concepto de alimentación que se provee al personal militar y policial 
												     	 	en actividad referido en la Décima Disposición Complementaria Final del Decreto Legislativo N° 1132 y la Tercera Disposición Complementaria 
												     	 	Final del Reglamento del citado Decreto Legislativo, aprobado mediante Decreto Supremo Nº 013-2013-EF.
															</p>

															<p>																																						
															Dicho concepto es otorgado mediante una provisión de bienes bajo el concepto de Alimentación, por el valor diario establecido en el 
															párrafo precedente.
												     		</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_028_2017_EF.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
										     <tr>
										  		  <th scope="row">4</th>
											      <td > <span class="font-weight-bold">D.S. Nº 011-2017-IN</span> de fecha 26ABR2017</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Aprueban el Reglamento del Decreto Legislativo N° 1340 que perfecciona el marco normativo de la PNP 
											      	  	prohibiendo el uso de instalaciones policiales como depósitos vehiculares y modificando el artículo 17 de la Ley N° 30264
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento</span>
												     	 												     	 	
												     	 	<p>																																								
												     	 	Apruébase el Reglamento del Decreto Legislativo N° 1340, Decreto Legislativo que perfecciona el marco normativo de la Policía Nacional 
												     	 	del Perú, prohibiendo el uso de las instalaciones policiales como depósitos vehiculares y modificando el artículo 17 de la Ley 30264,
															que consta de siete artículos y que como anexo forma parte integrante del presente Decreto Supremo.
															</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_011_2017_IN.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
									    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>