<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 class="font-weight-bold"> DECRETOS SUPREMOS</h3>
				                    <br>			                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">DECRETO SUPREMO</th>
										      <th class="text-center" scope="col" width="70%">DESCRIPCIÓN</th>									      
										      <th class="text-left" scope="col" width="5%">PDF</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    
										    <tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">D.S. Nº 011-2011-PCM</span> </td>																										
											      <td>																																		
											      	  	<h6 class="font-weight-bold text-center"> DECRETO SUPREMO QUE APRUEBA EL REGLAMENTO DEL LIBRO DE RECLAMACIONES DEL CÓDIGO DE 
											      	  												PROTECCIÓN Y DEFENSA DEL CONSUMIDOR 
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento </span>
												     	 												     	 	
												     	 	<p>																																
												     	 	Apruébese el Reglamento del Libro de Reclamaciones a que hace referencia el artículo 150º de la Ley Nº 29571, Código de Protección y 
												     	 	Defensa del Consumidor, el cual consta de quince (15) artículos y dos (2) anexos, y forma parte integrante del presente Decreto Supremo.
												     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/DS/DS_011_2011_PCM.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
										    <tr>
										  		  <th scope="row">2</th>
											      <td > <span class="font-weight-bold">D.S. Nº 012-2016-IN</span> de fecha 27JUL2016</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Aprueban Reglamento del Decreto Legislativo N° 1186, Decreto Legislativo que regula el uso de la 
											      	  											  fuerza por parte del personal de la Policía Nacional del Perú
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento </span>
												     	 												     	 	
												     	 	<p>																																
												     	 	Apruébese el Reglamento del Decreto Legislativo N° 1186, Decreto Legislativo que regula el uso de la fuerza
															por parte de la Policía Nacional del Perú, que consta de quince artículos y siete disposiciones complementarias finales el que como Anexo forma parte integrante del
															presente Decreto Supremo.
												     		</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_012_2016_IN.pdf" > Abrir </a>  
											      </td>
										    </tr>										    
										    
										    <tr>
										  		  <th scope="row">3</th>
											      <td > <span class="font-weight-bold">D.S. Nº 028-2017-EF</span> de fecha 23FEB2017</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Decreto Supremo que aprueba el monto por concepto de alimentación en aplicación de la Décima 
											      	  											Disposición Complementaria Final del Decreto Legislativo N° 1132 y la Tercera Disposición Complementaria 
											      	  											Final del Decreto Supremo N° 013-2013-EF
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Objeto </span>
												     	 												     	 	
												     	 	<p>																																								
												     	 	Establézcase en OCHO Y 00/100 SOLES (S/ 8,00) diarios el monto por concepto de alimentación que se provee al personal militar y policial 
												     	 	en actividad referido en la Décima Disposición Complementaria Final del Decreto Legislativo N° 1132 y la Tercera Disposición Complementaria 
												     	 	Final del Reglamento del citado Decreto Legislativo, aprobado mediante Decreto Supremo Nº 013-2013-EF.
															</p>

															<p>																																						
															Dicho concepto es otorgado mediante una provisión de bienes bajo el concepto de Alimentación, por el valor diario establecido en el 
															párrafo precedente.
												     		</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_028_2017_EF.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
										     <tr>
										  		  <th scope="row">4</th>
											      <td > <span class="font-weight-bold">D.S. Nº 011-2017-IN</span> de fecha 26ABR2017</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> Aprueban el Reglamento del Decreto Legislativo N° 1340 que perfecciona el marco normativo de la PNP 
											      	  	prohibiendo el uso de instalaciones policiales como depósitos vehiculares y modificando el artículo 17 de la Ley N° 30264
											      	  	</h6>	
												     	 	
												     	 	<span>DECRETA: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento</span>
												     	 												     	 	
												     	 	<p>																																								
												     	 	Apruébase el Reglamento del Decreto Legislativo N° 1340, Decreto Legislativo que perfecciona el marco normativo de la Policía Nacional 
												     	 	del Perú, prohibiendo el uso de las instalaciones policiales como depósitos vehiculares y modificando el artículo 17 de la Ley 30264,
															que consta de siete artículos y que como anexo forma parte integrante del presente Decreto Supremo.
															</p>
											      </td>
											      <td>  
											      			<a href="/PDF/NormasComplementarias/DS/DS_011_2017_IN.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
									    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <br>
				                    <h3 class="font-weight-bold">RESOLUCIONES MINISTERIALES</h3>
				                    <br>			                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RESOLUCIÓN MINISTERIAL</th>
										      <th class="text-center" scope="col" width="70%">DESCRIPCIÓN</th>							      
										      <th class="text-left" scope="col" width="5%">PDF</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    
										    <tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">R.M. Nº 952-2018-IN</span> de fecha 14AGO2018</td>																										
											      <td>																																		
											      	  	<h6 class="font-weight-bold text-center"> MANUAL DE DERECHOS HUMANOS APLICADOS A LA FUNCIÓN POLICIAL </h6>	
												     	 	
												     	 	<span>SE RESUELVE: </span>
												     	 	<br>
												     	 	<span class="font-weight-bold">Artículo 1.- Aprobación del Reglamento </span>
												     	 												     	 	
												     	 	<p>																																
												     	 	Aprobar el Manual de Derechos Humanos Aplicados a la Función Policial, el mismo que como anexo forma parte de la presente Resolución.
												     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/RM/RM_952_2018_IN.pdf" > Abrir </a>  
											      </td>
										    </tr>
									    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <br>
				                    <h3 class="font-weight-bold"> RESOLUCIONES DIRECTORALES </h3>
				                    <br>			                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RESOLUCIONES DIRECTORALES </th>
										      <th class="text-center" scope="col" width="70%">DESCRIPCIÓN</th>							      
										      <th class="text-left" scope="col" width="5%">PDF</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    
										    <tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">R.D. Nº 002-2007-EF-77.15</span> de fecha 24ENE2007</td>																								
											      <td>																																		
											      	  	<h6 class="font-weight-bold text-center">DIRECTIVA DE TESORERÍA </h6>
											      	  	<br>
											     	 	<span class="font-weight-bold text-left">OBJETO </span>
											     	 												     	 	
											     	 	<p>																																					
											     	 	Establecer las disposiciones y procedimientos generales relacionados con la ejecución financiera y demás operaciones de tesorería, además 
											     	 	de las condiciones y plazos para el cierre de cada Año Fiscal, a ser aplicados por las Unidades Ejecutoras de los pliegos presupuestarios
														del Gobierno Nacional y de los Gobiernos Regionales; así como por los Gobiernos Locales; en este último caso incluye disposiciones específicas 
														que, adicionalmente, deben ser cumplidas por dicho nivel de gobierno.
											     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/RD/RD_002_2007-EF_77_15.pdf" > Abrir </a>  
											      </td>
										    </tr>
										    
										    <tr>
										  		  <th scope="row">2</th>
											      <td > <span class="font-weight-bold">R.D. Nº 026-80-EF/77-15</span> de fecha 06MAY1980</td>																								
											      <td>																																		
											      	  	<h6 class="font-weight-bold text-center"> MINISTERIO DE ECONOMÍA Y FINANZAS - DIRECCIÓN NACIONAL DEL TESORO PÚBLICO </h6>
											      	  	<h6 class="font-weight-bold text-center">NORMAS GENERALES DE TESORERÍA </h6>
											      	  	<br>
											     	 	<span class="text-left">SE RESUELVE </span>
											     	 												     	 	
											     	 	<p>																																
											     	 	<span class="font-weight-bold">Artículo 1.- </span> Aprobar las siguientes Normas Generales del Sistema de Tesorería:
											     	 	
												     	 	<ul class="text-left">
															    <li> NGT-01 Unidad de Caja</li>
															    <li> NGT-02 Manejo de Fondos del Tesoro Público a través de subcuentas.</li>
															    <li> NGT-03 Facultad para el manejo de cuentas y subcuentas bancarias.</li>
															    <li> NGT-04 Apertura de cuentas y subcuentas bancarias</li>
																<li> NGT-05 Uso del Fondo Para Pagos en Efectivo. </li>
																<li> NGT-06 Uso del Fondo Fijo para Caja Chica. </li>
																<li> NGT-07 Reposición oportuna del Fondo para pagos en Efectivo y del Fondo para Caja Chica. </li>
																<li> NGT-08 Arqueos sorpresivos </li>																
																<li> NGT-09 Transferencias de Fondos </li>
																<li> NGT-10 Medidas de seguridad para el giro de cheques y traslado de fondos. </li>
																<li> NGT-11 Cheques a nombre de la entidad. </li>
																<li> NGT-12 Cambio de cheques personales. </li>
																<li> NGT-13 Uso del sello fechador "pagado" </li>
																<li> NGT-14 Conciliaciones de subcuentas del Tesoro Público. </li>
																<li> NGT-15 Fianza de servidores. </li>															    
													  		</ul>
											     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/RD/RD_026_1980_EF_77_15.pdf" > Abrir </a>  
											      </td>
										    </tr>
									    
									    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <br>
				                    <h3 class="font-weight-bold"> DECRETOS LEGISLATIVOS </h3>
				                    <br>			                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">DECRETO LEGISLATIVOS</th>
										      <th class="text-center" scope="col" width="70%">DESCRIPCIÓN</th>							      
										      <th class="text-left" scope="col" width="5%">PDF</th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    
										    <tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">D.L. Nº 1340</span> de fecha 06ENE2017</td>																								
											      <td>																																									
											      	  	<h6 class="font-weight-bold text-center">DECRETO LEGISLATIVO QUE PERFECCIONA EL MARCO NORMATIVO DE LA POLICÍA NACIONAL DEL PERÚ PROHIBIENDO 
											      	  											 EL USO DE INSTALACIONES POLICIALES COMO DEPÓSITOS VEHICULARES Y MODIFICANDO EL ARTÍCULO 17 DE LA 
											      	  											 LEY 30264 
														</h6>
											      	  	<br>
											     	 	<span class="font-weight-bold text-left">Artículo 1.- OBJETO </span>
											     	 												     	 	
											     	 	<p>																																												
											     	 	El presente decreto legislativo tiene por objeto prohibir el uso de instalaciones policiales como depósitos vehiculares de cualquier clase 
											     	 	y cubrir la brecha de proyectos de inversión pública en las materias de orden público y seguridad.
											     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/NormasComplementarias/DL/DL_1340.pdf" > Abrir </a>  
											      </td>
										    </tr>
									    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>