<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DE LA COMANDANCIA GENERAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2019</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RCG Nº </th>
										      <th class="text-left" scope="col" width="70%">SE RESUELVE :</th>									      
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RCG Nº 148-2019-COMGEN/EMG-PNP</span> de fecha 12MAR2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la "Directiva para la ejecución presupuestaria en las Unidades Ejecutorias de la 
											     	 	Policía Nacional del Perú AF-2019", que como anexo forma parte de la presente Resolución.											      												     	
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RCG/RCG-2019/RCG_148_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RCG Nº 223-2019-COMGEN/SECEJE-PNP</span> de fecha 15ABR2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> APROBAR la Directiva que establece "Disposiciones y Procedimientos para la Contratación de Bienes y 
											     	 	Servicios iguales o inferiores a ocho(08) Unidades Impositivas Tributarias (UIT)", la misma que como anexo forma parte de la presente Resolución.											      												     	
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RCG/RCG-2019/RCG_223_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>		
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RCG Nº 759-2019-CG PNP/SCG-DIRPLAINS</span> de fecha 30NOV2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el Plan Operativo Institucional Multianual 2020-2022 de la Policía Nacional del Perú, 
											     	 		el mismo que como anexo forma parte integrante de la presente Resolución.											      												     	
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RCG/RCG-2019/RCG_759_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>