<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2013</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 762-2013-DIRGEN/EMG-PNP</span> de fecha 28AGO2013</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA  Nº 06-23-2013-DIRGEN-PNP/EMG-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>																																		
											     	 	Establecer normas y procedimientos para la Administración del FONDO FIJO ROTATORIO destinado a atender gastos menores de mantenimiento a las 
											     	 	Comisarías que demanden su cancelación inmediata o que por su finalidad y característica no pueda ser debidamente programado.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_762_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 1006-2013-DIRGEN/EMG-PNP</span> de fecha 13NOV2013</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las normas y procedimientos para la Administración
											     	 	de los fondos correspondientes de Ración Orgánica Única Diaria (alimento para personas) asignadas a las Unidades y Dependencias Operativas 
											     	 	y Administrativas de la Policía Nacional del Perú, y que en anexo adjunto forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_1006_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 2006-DIRGEN/EMG</span> de fecha 13NOV2013</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>																																										      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las normas y procedimientos para la Administración 
											     	 	de los fondos correspondientes de Ración Orgánica Única Diaria (Alimento para personas) asignadas a las Unidades y Dependencias Operativas
											     	 	y Administrativas de la Policía Nacional del Perú, y que en anexo adjunto forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_2006_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>