<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2016</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%">   </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  
									  				  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 012-2016-DIRGEN/EMG-PNP</span> de fecha 19ENE2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el Reglamento de horarios y turnos de trabajo en el régimen de servicio a dedicación
											     	 	exclusiva de la Policía Nacional del Perú, que consta de TRES (03) Títulos y NUEVE(09) artículos.   											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_012_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 226-2016-DIRGEN/EMG-PNP</span> de fecha 02ABR2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece Normas y Procedimientos para el Cumplimentos de las 
											     	 	Órdenes de la Alerta Relativa y Alerta Absoluta por parte del Personal de Armas y de Servicios de la Policía Nacional del Perú.  											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_226_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 715-2016-DIRGEN/EMG-PNP</span> de fecha 19JUL2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el Reglamento General de Uniformes de la Policía Nacional del Perú, el mismo que 
											     	 	consta de CINCO(5) Títulos, y DIEZ(10) Anexos.  											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_715_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">4</th>
										      <td > <span class="font-weight-bold">RD Nº 1219-2016-DIRGEN/DIRSAN-PNP</span> de fecha 18NOV2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 18-03-2017-DIRGEN/SUB-DGPNP-DIREJESAN-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Establecer normas y procedimientos para la atención de exámenes de Dosaje Etílico a personas involucradas en infracciones al Reglamento
														Nacional de Tránsito, intervención en operativos de alcoholemia y asuntos laborales a nivel nacional.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_1219_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    									    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>