<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2018</h3>
				                    <br>
				                    <br>
				                    <br>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> 	</th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  
										  	<th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 177-2018-DIRGEN/IG-PNP</span> de fecha 14MAY2018</td>																										
										      <td>
										      	  	<h6 class="font-weight-bold text-center"> DIRECTIVA N° 07-06-2018-DIRGEN/IG-PNP. </h6>	
											     	 	
											     	 	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	 	<p>
											     	 	Establecer las normas de procedimientos a las que se sujetará la Dirección de Inspecciones de la 
											     	 	Inspectoría General de la Policía Nacional del Perú, para realizar acciones de inspección, control, supervisión de los servicios policiales, así como 
											     	 	la evaluación de la gestión en los diferentes órganos y unidades orgánicas de la Policía Nacional del Perú.
											     		</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2018/RD_177_2018.pdf" > Abrir <a/>  
										      </td>
										    </tr>
										  				  	
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 317-2018-DIRGEN/DIRCOAS-PNP</span> de fecha 24AGO2018</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      	
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las Normas y Procedimientos para Atender los Reclamos Presentados 
											     	 	por los Usuarios en el Libro de Reclamaciones, con la Finalidad de Garantizar su Derecho en Mejores Condiciones de Calidad y Efectividad frente a los 
											     	 	Servicios que brinda la Policía Nacional del Perú, la misma que se adjunta formando parte de la presente Resolución. 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2018/RD_317_2018.pdf" > Abrir <a/>  
										      </td>
										    </tr>
										    
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>