<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2015</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  										  											  				  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 376-2015-DIRGEN/EMG-PNP</span> de fecha 18MAY2015</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece "Normas que Regulan el Procedimiento y Uso del Sistema 
											     	 	Informático de Denunciales Policiales", la misma que como anexo forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_376_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 579-2015-DIRGEN/EMG-PNP</span> de fecha 01AGO2015</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 24-14-2015-DIRGEN-PNP/DIRINCRI-B </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Dictar normas y procedimientos de seguridad con los detenidos en las Unidades y Dependencias de la PNP, o en establecimientos a su cargo; 
											     	 	así como durante su custodia y/o conducción ante las autoridades competentes y otros.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_579_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 819-2015-DIRGEN/EMG-PNP</span> de fecha 23OCT2015</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 03-22-2015-DIRGEN-PNP/DIRINCRI-B </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Dictar normas y procedimientos al personal PNP, para el uso racional y proporcional de grilletes de seguridad en la conducción y traslado de
											     	 	personas, detenidas, procesadas y/o sentenciadas, que eviten intentos de fuga, lesiones al personal PNP que los custodia, de los propios 
											     	 	conducidos o de terceras personas.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_819_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>