<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2011</h3>
				                    <br>				                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    										    									    									    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 171-2011-DIRGEN/EMG</span> de fecha 04MAR2011</td>																										
										      <td>		
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>				      	
										      		<p>																																										      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que dicta normas y procedimientos para la atención de exámenes
											     	 	de dosaje etílico a personas involucradas en la participación de accidentes de tránsito; que en anexo adjunto forma parte de la presente 
											     	 	resolución.   												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2011/RD_171_2011.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 304-2011-DIRGEN/EMG</span> de fecha 16ABR2011</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA Nº 04-16-2011-DGPNP/DIRLOG-PNP/DIVCOM-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>																																		
											     	 	Establecer normas y procedimientos que conduzcan a una efectiva administración de los combustibles y lubricantes asignados a los
														vehículos automotores, embarcaciones, maquinarias y equipos de la Policía Nacional del Perú.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2011/RD_304_2011.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>