<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 class="font-weight-bold" >RESOLUCIONES DIRECTORALES DE LA POLICÍA NACIONAL DEL PERÚ</h3>
				                    <br>		
				                    <h4> AÑO 2019 </h4>		                    
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%">SE RESUELVE :</th>									      
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 002-2019-DIRADM-DIVECO-PNP/AS</span> de fecha 17ENE2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Autorizar la apertura y el gasto del fondo de Caja Chica para gastos menudos urgentes y de rápida 
											     	 	cancelación, que por sus características no pueden ser debidamente programados asignados a cada dependencia policial que presupuestalmente pertenecen 
											     	 	a la UE 002 a cargo de la DIRADM-PNP cuyos importes se detallan en el <span class="font-weight-bold">ANEXO 01</span>; el egreso será con cargo a la Genérica de Gasto 2.3 - Bienes y 
											     	 	Servicios - Fuente de Financiamiento - Recursos Ordinarios del AF-2019 por el importe de CINCO MILLONES CIENTO SIETE MIL SEISCIENTOS Y 00/100 SOLES 
											     	 	(S/. 5'107,600.00). 											      												     	
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2019/RD_002_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
											<tr>
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 005-2019-DIRADM-DIVECO-PNP/AS</span> de fecha 01FEB2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el otorgamiento del ROUD por la modalidad de administración directa y conseción con cargo 
											     	 	al Prespuesto del AF-2019 de la Unidad Ejecutora 002-DIRADM-PNP, Fuente de Financiamiento Recursos Ordinarios, Genérica de Gasto 2.3: "Bienes y Servicios, 
											     	 	Específica de Gasto 2.3.11.11 Alimentos y Bebidas para Consumo Humano por el importe de S/. 23,654,320.00 y Específica de Gasto 2.3.27.11.5 Servicios de Alimentación 
											     	 	de Consumo Humano por el importe de S/. 47,848,864.00 destinado para el personal de las dependencias policiales."  			      												     	
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2019/RD_005_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 006-2019-DIRADM-DIVECO-PNP/AS</span> de fecha 01FEB2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Autorizar por la modalidad de Encargo la administración del Fondo Fijo Rotatorio por el importe de 
											     	 	S/. 165,600.00 a los Comisarios y Jefes de la dependencias policiales del FP-VRAEM, en la Fuente de Financiamiento Recursos Ordinarios, Genérica de Gasto: 
											     	 	2.3-Bienes y Servicios, Específica de Gasto: 2.3.1 Materiales y Útiles y Específica de Gasto 2.3.24.11 Edificaciones, Oficinas y Estructuras (Servicio de 
											     	 	Mantenimiento, Acondicionamiento y Reparaciones), del Presupuesto AF-2019 de la UE-002 a cargo de la DIRADM-PNP.
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2019/RD_006_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>
										      <th scope="row">4</th>
										      <td > <span class="font-weight-bold">RD Nº 007-2019-DIRADM-DIVECO-PNP/AS</span> de fecha 07FEB2019</td>																										
										      <td>
										      	<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Autorizar la modificación de la Directica N° 001-DIRADM-DIVECO-PNP/AS aprobada con Resolución Directoral 
											     	 	N° 002-2019-DIRADM-PNP/AS del 17ENE2019, de la forma siguiente:
											     	 	<ul class="text-left">
														    <li> Inclúyase la Específica de Gasto 2.3.11.11 Alimento y Bebidas para Consumo Humano, en el acápite VI "Disposiciones Generales" A.4. </li>
														    <li> Suprímase la frase: "se deberá consignar la dependencia o unidad que realice el gasto"; de acápite VI "Disposiciones General" literal A.8. </li>
														    <li> Modifíquese el acápite VI "Disposiciones General" en el literal E.5 f), de la forma siguiente: "Adjuntar copia del cheque así como del comprobante
														    	 de pago de la presente rendición".  </li>														    
													  	</ul>
											     </p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2019/RD_007_2019.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>		
				                    <h4> AÑO 2018 </h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> 	</th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  
										  	<tr>
										  		  <th scope="row">1</th>
											      <td > <span class="font-weight-bold">RD Nº 177-2018-DIRGEN/IG-PNP</span> de fecha 14MAY2018</td>																										
											      <td>
											      	  	<h6 class="font-weight-bold text-center"> DIRECTIVA N° 07-06-2018-DIRGEN/IG-PNP. </h6>	
												     	 	
												     	 	<span class="font-weight-bold">OBJETO </span>
												     	 												     	 	
												     	 	<p>
												     	 	Establecer las normas de procedimientos a las que se sujetará la Dirección de Inspecciones de la 
												     	 	Inspectoría General de la Policía Nacional del Perú, para realizar acciones de inspección, control, supervisión de los servicios policiales, así como 
												     	 	la evaluación de la gestión en los diferentes órganos y unidades orgánicas de la Policía Nacional del Perú.
												     		</p>
											      </td>
											      <td>  
											      		<a href="/PDF/RD/RD-2018/RD_177_2018.pdf" > Abrir </a>  
											      </td>
										    </tr>
										  				  	
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 317-2018-DIRGEN/DIRCOAS-PNP</span> de fecha 24AGO2018</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      	
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las Normas y Procedimientos para Atender los Reclamos Presentados 
											     	 	por los Usuarios en el Libro de Reclamaciones, con la Finalidad de Garantizar su Derecho en Mejores Condiciones de Calidad y Efectividad frente a los 
											     	 	Servicios que brinda la Policía Nacional del Perú, la misma que se adjunta formando parte de la presente Resolución. 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2018/RD_317_2018.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2017</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%">SE RESUELVE : </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  										  											  				  	
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 005-2017-DIREJADM-DIRECFIN-PNP/EM</span> de fecha 21ENE2017</td>																										
										      <td>						      	
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el otorgamiento de ROUD con cargo al Presupuesto del AF-2017 de la Unidad Ejecutora 002-DIRECFIN-PNP,
														Fuente de Financiamiento Recursos Ordinarios, Genérica de Gasto 2.3: "Bienes y Humano, Específica del Gasto 2.3.11.11 "Alimentos y Bebidas para Consumo Humano por 
														el importe de S/. 41,287,497.00, destinado para el personal de las dependencias policiales que por razones de servicio especial cumplen funciones específicas, durante 
														las 24 horas ininterrumpidas y/o laboran fuera del horario establecido.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2017/RD_005_2017.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2016</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%">   </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">									  
									  				  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 012-2016-DIRGEN/EMG-PNP</span> de fecha 19ENE2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el Reglamento de horarios y turnos de trabajo en el régimen de servicio a dedicación
											     	 	exclusiva de la Policía Nacional del Perú, que consta de TRES (03) Títulos y NUEVE(09) artículos.   											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_012_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 226-2016-DIRGEN/EMG-PNP</span> de fecha 02ABR2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece Normas y Procedimientos para el Cumplimentos de las 
											     	 	Órdenes de la Alerta Relativa y Alerta Absoluta por parte del Personal de Armas y de Servicios de la Policía Nacional del Perú.  											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_226_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 715-2016-DIRGEN/EMG-PNP</span> de fecha 19JUL2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar el Reglamento General de Uniformes de la Policía Nacional del Perú, el mismo que 
											     	 	consta de CINCO(5) Títulos, y DIEZ(10) Anexos.  											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_715_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">4</th>
										      <td > <span class="font-weight-bold">RD Nº 1219-2016-DIRGEN/DIRSAN-PNP</span> de fecha 18NOV2016</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 18-03-2017-DIRGEN/SUB-DGPNP-DIREJESAN-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Establecer normas y procedimientos para la atención de exámenes de Dosaje Etílico a personas involucradas en infracciones al Reglamento
														Nacional de Tránsito, intervención en operativos de alcoholemia y asuntos laborales a nivel nacional.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2016/RD_1219_2016.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    									    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2015</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										  										  											  				  	
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 376-2015-DIRGEN/EMG-PNP</span> de fecha 18MAY2015</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece "Normas que Regulan el Procedimiento y Uso del Sistema 
											     	 	Informático de Denunciales Policiales", la misma que como anexo forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_376_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 579-2015-DIRGEN/EMG-PNP</span> de fecha 01AGO2015</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 24-14-2015-DIRGEN-PNP/DIRINCRI-B </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Dictar normas y procedimientos de seguridad con los detenidos en las Unidades y Dependencias de la PNP, o en establecimientos a su cargo; 
											     	 	así como durante su custodia y/o conducción ante las autoridades competentes y otros.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_579_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 819-2015-DIRGEN/EMG-PNP</span> de fecha 23OCT2015</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA N° 03-22-2015-DIRGEN-PNP/DIRINCRI-B </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Dictar normas y procedimientos al personal PNP, para el uso racional y proporcional de grilletes de seguridad en la conducción y traslado de
											     	 	personas, detenidas, procesadas y/o sentenciadas, que eviten intentos de fuga, lesiones al personal PNP que los custodia, de los propios 
											     	 	conducidos o de terceras personas.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2015/RD_819_2015.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2014</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 336-2014-DIRGEN/EMG-PNP</span> de fecha 03MAY2014</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA DGPNP Nº 20-12-2014-DIREAP-DIRBIE PNP/EM-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Establecer normas y procedimientos que regulen el Contrato de Arrendamiento y funcionamiento de cafeterías y/o comedores en las dependencias de la Policía Nacional del Perú.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2014/RD_336_2014.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2013</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 762-2013-DIRGEN/EMG-PNP</span> de fecha 28AGO2013</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA  Nº 06-23-2013-DIRGEN-PNP/EMG-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>																																		
											     	 	Establecer normas y procedimientos para la Administración del FONDO FIJO ROTATORIO destinado a atender gastos menores de mantenimiento a las 
											     	 	Comisarías que demanden su cancelación inmediata o que por su finalidad y característica no pueda ser debidamente programado.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_762_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 1006-2013-DIRGEN/EMG-PNP</span> de fecha 13NOV2013</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>									      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las normas y procedimientos para la Administración
											     	 	de los fondos correspondientes de Ración Orgánica Única Diaria (alimento para personas) asignadas a las Unidades y Dependencias Operativas 
											     	 	y Administrativas de la Policía Nacional del Perú, y que en anexo adjunto forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_1006_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">3</th>
										      <td > <span class="font-weight-bold">RD Nº 2006-DIRGEN/EMG</span> de fecha 13NOV2013</td>																										
										      <td>						      	
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>
										      		<p>																																										      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece las normas y procedimientos para la Administración 
											     	 	de los fondos correspondientes de Ración Orgánica Única Diaria (Alimento para personas) asignadas a las Unidades y Dependencias Operativas
											     	 	y Administrativas de la Policía Nacional del Perú, y que en anexo adjunto forma parte de la presente resolución.  												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2013/RD_2006_2013.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2011</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    										    									    									    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 171-2011-DIRGEN/EMG</span> de fecha 04MAR2011</td>																										
										      <td>		
										      		<h6 class="font-weight-bold"> SE RESUELVE : </h6>				      	
										      		<p>																																										      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que dicta normas y procedimientos para la atención de exámenes
											     	 	de dosaje etílico a personas involucradas en la participación de accidentes de tránsito; que en anexo adjunto forma parte de la presente 
											     	 	resolución.   												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2011/RD_171_2011.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    
										    <tr>									      
										      <th scope="row">2</th>
										      <td > <span class="font-weight-bold">RD Nº 304-2011-DIRGEN/EMG</span> de fecha 16ABR2011</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA Nº 04-16-2011-DGPNP/DIRLOG-PNP/DIVCOM-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>																																		
											     	 	Establecer normas y procedimientos que conduzcan a una efectiva administración de los combustibles y lubricantes asignados a los
														vehículos automotores, embarcaciones, maquinarias y equipos de la Policía Nacional del Perú.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2011/RD_304_2011.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    <br>
				                    <h4>AÑO 2008</h4>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%">SE RESUELVE : </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 799-DIRGEN/EMG</span> de fecha 26AGO2008</td>																										
										      <td>										      					      	
										      		<p>																																																																														      		
											     	 	<span class="font-weight-bold">Artículo 1.-</span> Aprobar la Directiva que establece normas y procedimientos para determinar las condiciones
											     	 	 de valor nutricional de la ración alimenticia, salubridad en el proceso de preparación y distribución, presentación y aseo del personal 
											     	 	 encargado de la distribución, así como el manejo de los residuos alimenticios en los comedores de las distintas Unidades administrativas y 
											     	 	 operativas de la Policía Nacional del Perú.    												     	 	 											      												     	
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2008/RD_799_2008.pdf" > Abrir </a>  
										      </td>
										    </tr>
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>