<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Intranet Inspectoría General PNP</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />                    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" ></script>
</head>

<body>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">

                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <div class="sb-sidenav-menu-heading">Menu</div>

                                <!-- INSCRITOS -->

                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">Inscritos
                                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                </a>                            
                        
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav">
                                                <a class="nav-link" href="layout-static.html">Oficiales PNP</a>
                                                <a class="nav-link" href="layout-sidenav-light.html">Sub-Oficiales PNP</a>
                                        </nav>
                                </div>

                                <!-- DOCUMENTOS DIGITALES -->               

                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"> Documentos digitales
                                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                </a>

                                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                            <!-- LECTURAS DE INTERES --> 
                                            <a class="nav-link" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">Lecturas de interés</a>


                                            <!-- RESOLUCIONES DE LA COMANDANCIA GENERAL PNP --> 
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">RCG PNP
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                            </a>
                                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" href="401.html">Año 2000</a>
                                                    <a class="nav-link" href="404.html">Año 2009</a>
                                                    <a class="nav-link" href="500.html">Año 2008</a>
                                                </nav>
                                            </div>                 
                                            
                                            <!-- RESOLUCIÓN DIRECTORAL PNP --> 
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError2" aria-expanded="false" aria-controls="pagesCollapseError2">RD PNP 
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                            </a>
                                            <div class="collapse" id="pagesCollapseError2" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" href="401.html">Año 2019</a>
                                                    <a class="nav-link" href="404.html">Año 2018</a>
                                                    <a class="nav-link" href="500.html">Año 2017</a>
                                                    <a class="nav-link" href="401.html">Año 2016</a>
                                                    <a class="nav-link" href="404.html">Año 2015</a>
                                                    <a class="nav-link" href="500.html">Año 2014</a>
                                                    <a class="nav-link" href="401.html">Año 2013</a>
                                                    <a class="nav-link" href="404.html">Año 2011</a>
                                                    <a class="nav-link" href="500.html">Año 2008</a>                
                                                </nav>
                                            </div>    

                                            <!-- OTROS DISPOSITIVOS LEGALES --> 
                                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError3" aria-expanded="false" aria-controls="pagesCollapseError3">Otras Dispositivos legales
                                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                            </a>
                                            <div class="collapse" id="pagesCollapseError3" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" href="/intranet_InspectoriaPNP/500.html">Decreto Legislativo</a>                                         
                                                    <!-- <a class="nav-link" href="500.html">Decretos Supremos</a> -->  
                                                    <a class="nav-link" href="401.html">Ministerio de Economía y Finanzas</a>
                                                    <a class="nav-link" href="404.html">Ministerio del Interior</a>
                                                </nav>
                                            </div>                                   

                                        </nav>
                                    </div>
                            </div>
                        </div>
                    </nav>
            </div>
        </div>

  




        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script src="/assets/demo/chart-area-demo.js"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src="/assets/demo/datatables-demo.js"></script>

</body>

</html>