<!DOCTYPE html>
<!--   <html lang="en">	-->
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >

		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>		
		<div id="layoutSidenav_content">
			<main> 
				<div class="container-fluid ">
						<h1 class="mt-4">DIRECCIÓN DE INSPECCIONES</h1>
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item font-weight-bold">INSPECTORÍA GENERAL DE LA POLICÍA NACIONAL DEL PERÚ</li>
						</ol>
						<br>
						<br>
						<br>
						<br>
						<div class="row font-weight-bold justify-content-center">
							<div class="col-xl-3 col-md-6">
								<div class="card bg-success mb-4">
									<div class="card-body">
											<a class="nav-link text-dark" href="/intranet_InspectoriaPNP/RCG_all">RESOLUCIONES DE LA COMANDANCIA GENERAL PNP</a>
									</div>
									
								</div>
							</div>
							
							<div class="col-xl-3 col-md-6">
								<div class="card bg-danger mb-4">
									<div class="card-body">
											<a class="nav-link text-dark" href="/intranet_InspectoriaPNP/RD_all">RESOLUCIONES DIRECTORALES DE LA PNP</a>
									</div>	
								</div>
							</div>
						</div>
						
						<br>
												
						<div class="row font-weight-bold justify-content-center">
							<div class="col-xl-3 col-md-6">
								<div class="card bg-primary mb-4">
									<div class="card-body">LECTURAS DIGITALES DE INTERÉS</div>	
								</div>
							</div>
							
							<div class="col-xl-3 col-md-6">
								<div class="card bg-warning  mb-4">
									<div class="card-body">
											<a class="nav-link text-dark" href="/intranet_InspectoriaPNP/NormasComplementarias">NORMAS LEGALES COMPLEMENTARIAS</a>
									</div>
	
								</div>
							</div>
						</div>
					</div>	
			</main>
            <footer th:replace="layout/layout :: footer"></footer>			
        </div>
			
		</div>
		
		
	
</body>
</html>