<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="utf-8" />
<head th:replace="layout/layout :: head"></head>
<body >
		
		<nav th:replace="layout/layout :: header" id="layoutSidenav"></nav>		
		
		<div id="layoutSidenav">
		<div th:replace="layout/layout :: sidenav">	</div>

			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
						<div class="row text-center">        	
				            <div class="col-sm-9 col-sm-offset-3 mx-auto">
				                <div class="well" style="margin-top: 10%;">
				                    <h3 >RESOLUCIÓN DIRECTORAL DE LA POLICÍA NACIONAL DEL PERÚ AÑO 2014</h3>
				                    <br>
				                    <br>
				                    <br>
				                    <div class="table-responsive">
					                    <table class="table table-bordered" style="width:100%">
										  <thead>
										    <tr class="font-weight-bold bg-success text-white">
										      <th scope="col">Item</th>
										      <th class="text-center" scope="col" width="25%">RD Nº </th>
										      <th class="text-left" scope="col" width="70%"> </th>
										      <th class="text-left" scope="col" width="5%">PDF </th>
										    </tr>
										  </thead>
										  <tbody class="text-justify">
										    
										    <tr>									      
										      <th scope="row">1</th>
										      <td > <span class="font-weight-bold">RD Nº 336-2014-DIRGEN/EMG-PNP</span> de fecha 03MAY2014</td>																										
										      <td>
										      		<h6 class="font-weight-bold text-center"> DIRECTIVA DGPNP Nº 20-12-2014-DIREAP-DIRBIE PNP/EM-B. </h6>	
											     	 	
											     	<span class="font-weight-bold">OBJETO </span>
											     	 												     	 	
											     	<p>
											     	 	Establecer normas y procedimientos que regulen el Contrato de Arrendamiento y funcionamiento de cafeterías y/o comedores en las dependencias de la Policía Nacional del Perú.
											     	</p>
										      </td>
										      <td>  
										      		<a href="/PDF/RD/RD-2014/RD_336_2014.pdf" > Abrir <a/>  
										      </td>
										    </tr>
										    
										    
										    										    								    
										  </tbody>
									  </table>
				                    </div>
				                    
				                    
				                </div>
				            </div>	        
			        	</div>
					</div>
				</main>
				<footer th:replace="layout/layout :: footer"></footer>		
			</div>				
	     </div>

</body>
</html>