<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>REGISTRAR USUARIO</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" ></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center mt-5 pb-5">

                            <!-- Logo PNP  --> 
                            <div class="col col-lg-3 pt-5">
                                <div >
                                    <img class="card-img-top mt-5" src="/img/logo3PNP.png" alt="Card image cap" >    
                                </div>                                
                            </div>

                            <div class="col col-lg-6">
                                <div class="card shadow-lg border-0 rounded-lg">
                                    <div class="card-header bg-dark">
                                            <h3 class="text-white text-center my-4 login-head">CREAR USUARIO</h3>
                                    </div>
                                    <div class="card-body">
                                        <form>

                                            <div class="form-row">
                                                <div class="col col-md-4">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputFirstName">Nombres</label>
                                                        <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Nombres" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-4">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputApellidoPaterno">Apellido Paterno</label>
                                                        <input class="form-control py-4" id="inputApellidoPaterno" type="text" placeholder="Apellido Paterno" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-4">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputApellidoMaterno">Apellido Materno</label>
                                                        <input class="form-control py-4" id="inputApellidoMaterno" type="text" placeholder="Apellido Materno" />
                                                    </div>
                                                </div>
                                            </div>
											
                                            <div class="form-row">
                                                    <div class="dropdown col col-md-6">
                                                        <label class="font-weight-bold control-label mb-1" for="jerarquiaPNP">Jerarquía</label>
                                                        <select id="selectjerarquias" class="form-control">                                                            
                                                            <!-- <option value="-1" disabled selected=""> Jerarquía</option> -->
                                                            <option value="1"> Oficiales PNP</option>
                                                            <option value="2"> Sub-Oficiales PNP</option>
                                                        </select>
                                                    </div>
                                                    <div class="dropdown col col-md-6">
                                                        <label class="font-weight-bold control-label mb-1" for="gradosPNP">Grado</label>
                                                        <select id="selectgrados" class="form-control">
                                                            <!-- <option value="-1" disabled selected=""> Grados</option> -->                                                            
                                                            <option value="1">General PNP</option>
                                                            <option value="2">Coronel PNP</option>
                                                            <option value="3">Comandante PNP</option>
                                                            <option value="4">Mayor PNP</option>
                                                            <option value="5">Capitan PNP</option>
                                                            <option value="6">Teniente PNP</option>
                                                            <option value="7">Alferez PNP</option>
                                                        </select>
                                                    </div>
                                            </div>
																						
											<div class="form-row pt-2">												
												<div class="col col-md-3">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="numeroCIP">CIP</label>
                                                        <input class="form-control py-4" id="numeroCIP" type="text" placeholder="CIP" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-3">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="numeroDNI">DNI</label>
                                                        <input class="form-control py-4" id="numeroDNI" type="text" placeholder="DNI" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="numeroMovil">Celular</label>
                                                        <input class="form-control py-4" id="numeroMovil" type="text" placeholder="Número de Celular" />
                                                    </div>
                                                </div>		
												
											</div>
											
											<div class="form-row pt-2">
												<div class="col col-md-12">
													<div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputEmailAddress">Correo Electrónico</label>
                                                        <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Correo Electrónico" />
                                                    </div>
												</div>		
											</div>
											
                                            <div class="form-row">
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputPassword">Contraseña</label>
                                                        <input class="form-control py-4" id="inputPassword" type="password" placeholder="Contraseña" />
                                                    </div>
                                                </div>
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold control-label mb-1" for="inputConfirmPassword">Confirmar Contraseña</label>
                                                        <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirmar Contraseña" />
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group mt-4 mb-0 d-flex align-items-center justify-content-between "> -->
                                            <div class="form-group mt-4 mb-0 text-center">
                                                    <a class="btn btn-dark text-white" href="/intranet_InspectoriaPNP/login">Crear Usuario</a>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                            <a class="small text-dark" href="/intranet_InspectoriaPNP/register">¿Aún no tiene un usuario creado?</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Logo IG PNP  --> 
                            <div class="col col-lg-3 pt-5">
                                <div >                                    
                                    <img class="card-img-top mt-5" src="/img/logo3IG_PNP.png" alt="Card image cap" >
                                </div>
                            </div>


                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2020</div>
                            <div>
                                <a href="#">Inspectoría General de la Policía Nacional del Perú (PNP) - </a>                                
                                <a href="#">Ministerio del Interior (MININTER)</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
        <script src="/js/scripts.js"></script>
        <script language="javascript">

        $(document).ready(function()
        {
            $("#selectjerarquias").on('change', function () 
            {
                    if($(this).val()==1)
                    {
                        $("#selectgrados option").remove();
                        $("#selectgrados").append("<option value='1'>General PNP</option>");
                        $("#selectgrados").append("<option value='2'>General S. PNP</option>");
                        $("#selectgrados").append("<option value='3'>Coronel PNP</option>");
                        $("#selectgrados").append("<option value='4'>Coronel S. PNP</option>");
                        $("#selectgrados").append("<option value='5'>Comandante PNP</option>");
                        $("#selectgrados").append("<option value='6'>Comandante S. PNP</option>");
                        $("#selectgrados").append("<option value='7'>Mayor PNP</option>");
                        $("#selectgrados").append("<option value='8'>Mayor S. PNP</option>");
                        $("#selectgrados").append("<option value='9'>Capitan PNP</option>");
                        $("#selectgrados").append("<option value='10'>Capitan S. PNP</option>");
                        $("#selectgrados").append("<option value='11'>Teniente PNP</option>");
                        $("#selectgrados").append("<option value='12'>Teniente S. PNP</option>");
                        $("#selectgrados").append("<option value='13'>Alferez PNP</option>");
                    }
                    else{
                     $("#selectgrados option").remove();
                        $("#selectgrados").append("<option value='1'>SS PNP</option>");
                        $("#selectgrados").append("<option value='2'>SS S. PNP</option>");
                        $("#selectgrados").append("<option value='3'>SB PNP</option>");
                        $("#selectgrados").append("<option value='4'>SB S. PNP</option>");
                        $("#selectgrados").append("<option value='5'>ST1 PNP</option>");
                        $("#selectgrados").append("<option value='6'>ST1 S. PNP</option>");
                        $("#selectgrados").append("<option value='7'>ST2 PNP</option>");
                        $("#selectgrados").append("<option value='8'>ST2 S. PNP</option>");
                        $("#selectgrados").append("<option value='9'>ST3 PNP</option>");
                        $("#selectgrados").append("<option value='10'>ST3 S. PNP</option>");
                        $("#selectgrados").append("<option value='11'>S1 PNP</option>");
                        $("#selectgrados").append("<option value='12'>S1 S. PNP</option>");
                        $("#selectgrados").append("<option value='13'>S2 PNP</option>");   
                        $("#selectgrados").append("<option value='14'>S2 S. PNP</option>");
                        $("#selectgrados").append("<option value='15'>S3 PNP</option>");   
                        $("#selectgrados").append("<option value='16'>S3 S. PNP</option>");
                    }
            });
        });
        </script>

    </body>
</html>
